<router-outlet></router-outlet>
<div *ngIf="another">
  <div>

    <div class="input-group mb-3">
      <label>loan amount:</label>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
        (input)="changeamountRange($event, range1)" #rangeInput1>
      <div class="input-group-append">
        <span class="input-group-text">$</span>
      </div>
    </div>
    <input type="range" step="100" min="0" max="1500" class="form-range"
      (input)="changeamountRange($event,rangeInput1)" #range1>
  </div>

  <div>
    <div class="input-group mb-3">
      <label>linterest rate:</label>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
        (input)="changepercentRange($event, range2)" #rangeInput2>
      <div class="input-group-append">
        <span class="input-group-text">%</span>
      </div>
    </div>
    <input type="range" max="20" step="0.5" min="0" class="form-range" (input)="changepercentRange($event,rangeInput2)"
      #range2>
  </div>

  <div>
    <div class="input-group mb-3">
      <label>Loan tenture:</label>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
        (input)="changeyear($event, range3)" #rangeInput3>
      <div class="input-group-append">
        <span class="input-group-text">years</span>
      </div>
    </div>
    <input type="range" max="20" step="1" min="0" class="form-range" (input)="changeyear($event,rangeInput3)"
      #range3>

<button (click)="total()">calculate</button>
<h1>monthly--{{monthlyEmi}}</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Split
</button>
<h3>EachPerson:{{eachPerson}}</h3>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <input type="text" [(ngModel)]="personCount">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="perPerson()">Split</button>
      </div>
    </div>
  </div>
</div>
</div>
<button (click)="modified()">modified</button>